extends ../shared/template

block content
  h1 

  form#loginForm
    input(type='text', name='username', autofocus=true, placeholder='Username')
    button#login Login
  #username Plese Log In
  #userStats The Trading Post
  #tradingPost
  #buttonBox
    button#seed plant seed
    button#showForest Show Forest
  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
