html{
  background-image: url('/img/bg.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.chopped{
  background-image: url('/img/stump.png') !important;
}
#userStats, #username{
  width: 200px;
  background-color: rgba(229, 248, 147, 0.71);
}
#forest{
  background-color: rgba(255, 253, 253, 0.47);
}
.seed{
  background-image: url('/img/seed.png');
}

.tree{
  height: 100px;
  width: 100px;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}
.sapling{
  background-image: url('/img/sapling.png');
}
.teenager{
  background-image: url('/img/teenager.png');
}
.adult{
  background-image: url('/img/adult.png');
}
.dead{
  background-image: url('/img/dead.png');
}
